body{
    background-color: rgb(3, 253, 198);
}

.copyright_footer{
    position: fixed;
    bottom: 0;
    font-size: 21.2px;
    background-color: black;
    color: yellow;
    height: 7.51%;
    width: 100%;
    text-align: center;
}

/* .er{
    background-image: url("/ enter you url");
    background-position: center;
    background-size: cover;
} */

#heading{
    font-size: 30.113px;
    box-shadow: 5px 5px 4.99px black;
}

#notelll{
    color: red;
    font-size: 13.01px;
    width: 100%;
    text-decoration: none;
    margin-top: 5px;
}

#notelll:hover{
    text-decoration: underline;
    cursor: pointer;
}

canvas{
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}